.create-post-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.create-post-form input {
  margin-bottom: 15px;
  font-size: 14px;
}

.create-post-form button {
  margin-top: 10px;
}

